html {
    background: url("../felix-cinema.jpg") no-repeat center center fixed; /* Photo by Felix Mooneeram on Unsplash */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 1;
}

body {
    text-align: center;
}
  
h1 {
    padding-top: 10%;
    color: white;
    font-size: xx-large;
    font-family: 'Press Start 2P', cursive;
}